deepspeed
toml
transformers
git+https://github.com/huggingface/diffusers/
datasets
pillow
sentencepiece
protobuf
peft
torch-optimi
tensorboard
tqdm
safetensors
bitsandbytes
imageio[ffmpeg]
av
einops
accelerate
loguru
easydict
ftfy
decord
pyloudnorm

#
# conda create -n interact python=3.10
# conda activate interact
# pip install torch==2.6.0+cu124 torchvision==0.21.0+cu124 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124
# pip install ninja psutil packaging
# pip install flash_attn==2.7.4.post1 --no-build-isolation
# conda install -c conda-forge librosa
# conda install -c conda-forge ffmpeg
# pip install -r requirements.txt
